@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

.bgvid {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
    z-index: 1;
}

.main_message{
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 100%;
    z-index: 2;
    top: 80vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
}

.message404{
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 1000%;
    z-index: 2;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    position: fixed;
    display: block;
}
